<div class="uiMessages active">
	<div class="filters">
		<div class="btn filter active" filter="info">info</div>
		<div class="btn filter active" filter="rep">reputation</div>
		<div class="btn filter active" filter="chat">players</div>
		<div class="btn filter active" filter="loot">loot</div>
	</div>
	<div class="list rep chat info loot"></div>
	<div class="bottom">
		<div class="channelPicker"></div>
		<input type="text" class="el textbox message">
		<div class="input el textbox message"></div>
	</div>
	<div class="bottom time"></div>
	<div class="bottom channelOptions">
		<div class="option">global</div>
		<div class="option">party</div>
		<div class="option">direct</div>
	</div>
</div>
